@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #27272a;
  padding: 0;
  margin: 0;
}

.emoji {
  font-size: 4em;
}
.custom-background {
  background: rgb(0, 240, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 240, 255, 0.29735644257703087) 0%,
    rgba(243, 10, 248, 0.3) 100%
  );
}
